default: &default
  mn3njalnik:
    default: &mn3njalnik_default
      username: ZeroCool
      password: joker
    sender:
      <<: *mn3njalnik_default

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  exception_recipients:
    - user@example.com
