default: &default
  mn3njalnik:
    default: &mn3njalnik_default
      username: ZeroCool
      password: joker
    sender:
      <<: *mn3njalnik_default

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  exception_notification:
    email:
      email_prefix: "[Whatever] "
      sender_address: '"notifier" <notifier@example.com>}'
      exception_recipients:
        - exceptions@example.com
    irc:
      domain: irc.example.com
      nick: BadNewsBot
      password: secret
      port: 6697
      channel: "#log"
      ssl: true
      prefix: "[Exception Notification]"
      recipients:
        - peter
        - michael
        - samir
