# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6e4face7da56a88391b6e4c4d7a59e54a5f8764f816a14461200e85a39d300539ef6bfd1fa1ad444e8beafe5609f4e9844241b15cf09a228a037894f0def313f

test:
  secret_key_base: 8dbec04056f1c4fdc80418109fbd59ac2d8e42583c3b23c881ff8a2c9832b2ef68f8c518c9751b2fb2a8c2921ab4d8f33e7651c7986874dc16dbc46e813c0295

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
