.pager= paginate posts
%table.posts
  %thead
    %tr
      %th avtor
      %th sporoÄilo
  = render partial: "/posts/post",
           collection: posts,
           locals: {with_title: with_title}
.pager= paginate posts
