body {
  background-color: #fff;
  color: #000;
  font-family: Verdana, sans-serif;
  font-size: 0.7em;
  margin: 1em auto;
  padding: 0;
  width: 80em;
}

a:link, a:visited {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.clear { clear: both; }

.hidden { display: none; }

#header-outside { background: url(asset-path("header-middle.png")) repeat-x; }

#header-outside img { float: left; }

#header-inside {
  background: url(asset-path("header-right.png")) right no-repeat;
  position: relative;
}

#search {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
}

#nav {
  background-color: #000;
  color: #fff;
  padding: 0.2em 0.4em;
}

#nav a:link, #nav a:visited {
  color: #fff;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-color: #000;
  border-style: solid;
  border-width: 0 0 1px 1px;
  width: 100%;
}

td, th {
  border-color: #000;
  border-style: solid;
  border-width: 1px 1px 0 0;
  margin: 0;
  padding: 0.3em;
  vertical-align: top;
}

th {
  background-color: black;
  color: #ffcf3e;
  text-align: center;
}

h2 { font-size: 1.5em; margin: 0.5em 0; }

.chart-filter {
  text-align: center;
  margin: 1em 0;
}

.chart-container {
  background: url(asset-path("loader.gif")) no-repeat center center;
  height: 300px;
}

.pager {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.pager a:link, .pager a:visited { text-decoration: underline; }

.pager a:hover { text-decoration: none; }

#archive-settings.inactive { display: none; }

#archive-settings.active { display: block; }

#date-slider { margin: 1em 0; }

#archive-settings-toggle {
  float: right;
  font-size: 1.2em;
  margin: 0.5em 0;
}

#archive-settings-toggle a:link, #archive-settings-toggle a:visited {
  font-size: 0.75em;
}

#archive-settings-toggle + * { float: left; }

#archive-settings input[type="text"] {
  border: 0;
  color: #f6931f;
  font-weight: bold;
}

.citation, .blockquote,         /* new style quotes */
.quotetop, .quotemain           /* old style quotes */
{
  margin-bottom: 0.25em;
  margin-left: 2em;
  padding-left: 0.5em;
}

.citation, .quotetop { font-weight: bold; }

.blockquote, .quotemain {
  background-color: #fff4d2;
  border: 1px solid #999;
  color: #444;
}

img[alt="Oglej si sporočilo"] { display: none; }

.match {
  font-weight: bold;
  background-color: #EBB905;
}

.hint {
  font-size: 0.8em;
  color: gray;
  font-weight: bold;
}

.section {
  background-color: #ffe495;
  border: 1px solid #000;
  margin: 1em 0;
}

.section-heading {
  background-color: #000;
  color: #ffcf3e;
  font-size: 1em;
  margin: 0;
  padding: 0.3em;
  text-align: center;
}

.section-content { margin: 1em; }

/* -- USERS TABLE ----------------------------------------------------------- */

#users-header h2 { float: left; }

#users-header form {
  float: right;
  font-size: 1.5em;
  margin: 0.5em 0;
}

#users-header form * { font-size: 0.7em; }

#users-header + * { clear: both; }

.users tbody:nth-child(even) { background-color: #ffeebb; }

.users tbody:nth-child(odd) { background-color: #ffe495; }

.users td:nth-child(1) {
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.users td:nth-child(2) {
  font-size: 1.2em;
  vertical-align: middle;
}

.users td:nth-child(3),
.users td:nth-child(4) {
  font-family: Arial Black, sans-serif;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  width: 5em;
}

/* -- USER PAGE ------------------------------------------------------------- */

#user-header #user-info {
  font-weight: bold;
  float: left;
}

#user-header img {
  float: right;
  margin: 1em 0;
}

#user-header + * { 
  clear: both;
}

#user-info p:nth-child(2) { margin: 0; }

#user-info p:nth-child(3) { margin: 0 0 1em 0; }

/* -- TOPICS TABLE ---------------------------------------------------------- */

.topics td.avatar {
  background-color: #ffeebb;
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.topics td.title {
  font-size: 1.2em;
  background-color: #ffe495;
  padding: 0.5em;
}

.topics td.title p { margin: 0; }

.topics td.title p.date {
  font-size: 0.8em;
  margin-top: 0.2em;
  color: gray;
  font-weight: bold;
}

.topics td.replies {
  background-color: #ffeebb;
  font-family: Arial Black, sans-serif;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  width: 5em;
}

.topics td.author {
  background-color: #ffd555;
  text-align: center;
  vertical-align: middle;
  width: 13em;
}

/* -- POSTS TABLE ----------------------------------------------------------- */

.posts th { text-align: center; }

.posts td { padding: 0.5em; }

.posts td.body { max-width: 65em; }

.posts td.author { width: 15em; }

.posts td.author p { margin: 0.5em 0; }

.posts td.author p:nth-child(1) { margin-top: 0; }

.posts td.author p:nth-child(3) { font-weight: bold; }

.posts td.author p:nth-child(4) { margin-bottom: 0; }

.posts tbody:nth-child(even) { background-color: #ffeebb; }
.posts tbody:nth-child(odd) { background-color: #ffe495; }

/* -- RANKINGS TABLE -------------------------------------------------------- */

.rankings {
  background-color: #ffe495;
  border: 1px solid #000;
  padding: 1em;
  margin: 1em 0;
}

.rankings tr:nth-child(even) { background-color: #ffeebb; }

.rankings tr:nth-child(odd) { background-color: #ffe495; }

.rankings th { text-align: center; }

.rankings td:nth-child(1) {
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.rankings td:nth-child(2) {
  font-size: 1.2em;
  vertical-align: middle;
}

.rankings td:nth-child(3) {
  font-family: Arial Black, sans-serif;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  width: 5em;
}
